.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quntity{
    background-color: aliceblue;
    padding: 5px 10px ;
}
.quntity a{
    font-size: 32px;
    padding: 8px;
    cursor: pointer;
    color: blue;
    font-weight: bold;
}
input{
    border: none;
    background-color: white;
    width: 15px;

}